Repository hablapps/doric, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, dependencies, documentation, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

Deploying to gh-pages from @ hablapps/doric@9cac0fc0e8aab2e045ff1b25af28a7957744e4a9 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sbt, scripted-plugin from 1.10.4 to 1.10.6
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.10.4 to 1.10.6 (#492)
  project/build.properties
Labels: dependencies

ScalaSteward: Update scala-library from 2.12.19 to 2.12.20
  build.sbt
Labels: dependencies

ScalaSteward: Update scala-library from 2.12.19 to 2.12.20 (#473)
  build.sbt
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.9.0
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt-scoverage from 2.1.0 to 2.1.1
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.9.2
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update spark-sql from 3.5.3 to 3.5.4
  build.sbt
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.10.6 to 1.10.7
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt-scalafmt from 2.5.2 to 2.5.4
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.8.3 to 3.8.5
  .scalafmt.conf
Labels: dependencies

Add 'Reformat with scalafmt 3.8.5' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Reformat with scalafmt 3.8.5
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/main/scala/doric/types/LiteralSparkType.scala
Labels: spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

ScalaSteward: Update cats-core from 2.12.0 to 2.13.0
  build.sbt
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.8.3 to 3.8.6
  .scalafmt.conf
Labels: dependencies

Add 'Reformat with scalafmt 3.8.6' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Reformat with scalafmt 3.8.6
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/main/scala/doric/types/LiteralSparkType.scala
Labels: spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

ScalaSteward: Update scala-collection-compat from 2.12.0 to 2.13.0
  build.sbt
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.2 to 2.6.3
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.2 to 2.6.4
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update spark-sql from 3.5.3 to 3.5.5
  build.sbt
Labels: dependencies

ScalaSteward: Update shapeless from 2.3.12 to 2.3.13
  build.sbt
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.10.6 to 1.10.8
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.10.6 to 1.10.10
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.9.3
  project/plugins.sbt
Labels: dependencies

Update project/plugins.sbt
  project/plugins.sbt
Labels: dependencies

Fix microsite error. Fix scoverage dependency
  .github/workflows/ci.yml
  .github/workflows/wc_publishSite.yml
  build.sbt
  project/plugins.sbt
Labels: CI/CD, dependencies

Fix microsite error. (#516)
  .github/workflows/ci.yml
  .github/workflows/wc_publishSite.yml
  build.sbt
  project/plugins.sbt
Labels: CI/CD, dependencies

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.9.3
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.2 to 2.6.4
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt-scoverage from 2.3.0 to 2.3.1
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.2 to 2.6.4 (#508)
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@fffa2785f4476e9cc20e6c89fbebc29870dbf4c8 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update shapeless from 2.3.12 to 2.3.13 (#512)
  build.sbt
Labels: dependencies

ScalaSteward: Update sbt-scoverage from 2.3.0 to 2.3.1 (#517)
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@96b748aee62aa593c2e9c7aefff7dfbbf563584c 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update scala-collection-compat from 2.12.0 to 2.13.0
  build.sbt
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.10.6 to 1.10.11
  project/build.properties
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.4 to 2.6.5
  project/plugins.sbt
Labels: dependencies

.github/labeler.yml:

CI/CD:
  - changed-files:
    - any-glob-to-any-file: [ '.github/**/*.yml' ]

dependencies:
  - changed-files:
    - any-glob-to-any-file: [ '.github/dependabot.yml', 'build.sbt', 'project/**/*', '.scala-steward.conf', '.scalafix.conf', '.scalafmt.conf', 'project/build.properties' ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [ 'docs/**/*', 'notebooks/**/*', '*.md' ]

spark_3.0:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.0*/**/*', 'core/src/main/scala/**/*' ]

spark_3.1:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.1*/**/*', 'core/src/main/scala/**/*']

spark_3.2:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.2*/**/*', 'core/src/main/scala/**/*']

spark_3.3:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.3*/**/*', 'core/src/main/scala/**/*' ]

spark_3.4:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.4*/**/*', 'core/src/main/scala/**/*' ]

spark_3.5:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.5*/**/*', 'core/src/main/scala/**/*' ]
