Repository hablapps/doric, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, dependencies, documentation, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

.github/labeler.yml:

CI/CD:
  - changed-files:
    - any-glob-to-any-file: [ '.github/**/*.yml' ]

dependencies:
  - changed-files:
    - any-glob-to-any-file: [ '.github/dependabot.yml', 'build.sbt', 'project/**/*', '.scala-steward.conf', '.scalafix.conf', '.scalafmt.conf', 'project/build.properties' ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [ 'docs/**/*', 'notebooks/**/*', '*.md' ]

spark_3.0:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.0*/**/*', 'core/src/main/scala/**/*' ]

spark_3.1:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.1*/**/*', 'core/src/main/scala/**/*']

spark_3.2:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.2*/**/*', 'core/src/main/scala/**/*']

spark_3.3:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.3*/**/*', 'core/src/main/scala/**/*' ]

spark_3.4:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.4*/**/*', 'core/src/main/scala/**/*' ]

spark_3.5:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.5*/**/*', 'core/src/main/scala/**/*' ]

ScalaSteward: Update sbt-scalafmt from 2.5.2 to 2.5.4
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.4 to 2.6.5 (#519)
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@0ca93d42dbb17e489b55c9b97aa520f175d52dd5 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sbt, scripted-plugin from 1.10.6 to 1.10.11 (#518)
  project/build.properties
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@d46a86c3bcc8371ca00cf3a6b021bd5ffbe6811a 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.9.3 (#515)
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@fc290f006ee1d911f9074edfb312c53668809fbb 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Deploying to gh-pages from @ hablapps/doric@f038d6372fb5685f6ff1fb94c3d68ce24a7a9824 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Deploying to gh-pages from @ hablapps/doric@25936ce1b73a099b81269ec3151e2dadea7ae8c5 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update scala-collection-compat from 2.12.0 to 2.13.0 (#506)
  build.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@aa21b8dd4fb9db728b77f708b47ca31fa137f114 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sbt-scalafmt from 2.5.2 to 2.5.4 (#501)
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@e607979c92f1d8b2709231a6db03fc1af2f2cd50 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update scalafmt-core from 3.8.3 to 3.8.6 (#504)
  .git-blame-ignore-revs
  .scalafmt.conf
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/main/scala/doric/types/LiteralSparkType.scala
Labels: dependencies, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

Deploying to gh-pages from @ hablapps/doric@836f9d36cef8effc6d3c33b877a826f00fceb01c 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Deploying to gh-pages from @ hablapps/doric@9a33c75d00f42c5cbe07c8c0bd54d16fba5a5054 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update cats-core from 2.12.0 to 2.13.0 (#503)
  build.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@9a6cf3acc54b20de8c9dce76c73bb85024adec59 🚀
  docs/api/spark-3.0/scala-2.12/doric/index.html
  docs/api/spark-3.1/scala-2.12/doric/index.html
  docs/api/spark-3.2/scala-2.12/doric/index.html
  docs/api/spark-3.2/scala-2.13/doric/index.html
  docs/api/spark-3.3/scala-2.12/doric/index.html
  docs/api/spark-3.3/scala-2.13/doric/index.html
  docs/api/spark-3.4/scala-2.12/doric/index.html
  docs/api/spark-3.4/scala-2.13/doric/index.html
  docs/api/spark-3.5/scala-2.12/doric/index.html
  docs/api/spark-3.5/scala-2.13/doric/index.html
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Deploying to gh-pages from @ hablapps/doric@61fa7690c2c36fba907d608774efb0da309e96ca 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Update spark 3.5 to 3.5.5
  .github/workflows/matrix_includes.json
  README.md
  build.sbt
  docs/docs/docs/quickstart.md
Labels: dependencies, documentation

Update spark 3.5 to 3.5.5 (#520)
  .github/workflows/matrix_includes.json
  README.md
  build.sbt
  docs/docs/docs/quickstart.md
Labels: dependencies, documentation

Deploying to gh-pages from @ hablapps/doric@8450520295c05f01e9e90266a1aedb35342c54dd 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update scalafmt-core from 3.8.6 to 3.9.4
  .scalafmt.conf
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.8.6 to 3.9.4 (#522)
  .scalafmt.conf
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@b3c55bfda847d7e84c0fa4d7d08663c1e7066c37 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.5 to 2.7.0
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.9.4 to 3.9.5
  .scalafmt.conf
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.9.4 to 3.9.6
  .scalafmt.conf
Labels: dependencies

feat: [+] #351 median & mode functions; byte & LocalDateTime types
  core/src/main/scala/doric/types/DateType.scala
  core/src/main/scala/doric/types/NumericType.scala
  core/src/main/scala/doric/types/SparkType.scala
  core/src/main/spark_3.4_3.5/scala/doric/syntax/AggregationColumns34.scala
  core/src/main/spark_3.4_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.5_mount/scala/doric/syntax/All.scala
  core/src/test/spark_3.4_3.5/scala/doric/syntax/AggregationColumns34Spec.scala
Labels: spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

ScalaSteward: Update sbt-ci-release from 1.9.3 to 1.11.0
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.10.11 to 1.11.0
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.10.11 to 1.11.0 (#529)
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.9.3 to 1.11.0
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@31ce6ede0a75487d5c2d87866f77db1435f99423 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sbt-ci-release from 1.9.3 to 1.11.0 (#528)
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@9ca1d71d9ac3b879c45f7b4a611f6b1cd184e9a7 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update scalafmt-core from 3.9.4 to 3.9.6
  .scalafmt.conf
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.9.4 to 3.9.6 (#526)
  .scalafmt.conf
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@7c3b529605e5e2a59c9d29aaf3eb848d9cc007c5 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.5 to 2.7.1
  project/plugins.sbt
Labels: dependencies
