Repository hablapps/doric, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, dependencies, documentation, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

.github/labeler.yml:

CI/CD:
  - changed-files:
    - any-glob-to-any-file: [ '.github/**/*.yml' ]

dependencies:
  - changed-files:
    - any-glob-to-any-file: [ '.github/dependabot.yml', 'build.sbt', 'project/**/*', '.scala-steward.conf', '.scalafix.conf', '.scalafmt.conf', 'project/build.properties' ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [ 'docs/**/*', 'notebooks/**/*', '*.md' ]

spark_3.0:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.0*/**/*', 'core/src/main/scala/**/*' ]

spark_3.1:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.1*/**/*', 'core/src/main/scala/**/*']

spark_3.2:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.2*/**/*', 'core/src/main/scala/**/*']

spark_3.3:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.3*/**/*', 'core/src/main/scala/**/*' ]

spark_3.4:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.4*/**/*', 'core/src/main/scala/**/*' ]

spark_3.5:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.5*/**/*', 'core/src/main/scala/**/*' ]

ScalaSteward: Update spark-sql from 3.5.5 to 3.5.6
  build.sbt
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.9.6 to 3.9.7
  .scalafmt.conf
Labels: dependencies

Reformat with scalafmt 3.9.7
  build.sbt
  core/src/main/scala/doric/sem/Errors.scala
  core/src/main/spark_3.2_3.3_3.4_3.5/scala/doric/sqlExpressions/CustomAgg.scala
  core/src/test/scala/doric/Equalities.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/matchers/CustomMatchers.scala
  core/src/test/scala/doric/sem/AggregationOpsSpec.scala
  core/src/test/scala/doric/sem/JoinOpsSpec.scala
  core/src/test/scala/doric/sem/TransformOpsSpec.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
  core/src/test/scala/doric/syntax/InterpolatorsSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3_3.4_3.5/scala/doric/syntax/StringColumns3xSpec.scala
Labels: dependencies, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

Add 'Reformat with scalafmt 3.9.7' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

ScalaSteward: Update sbt-ci-release from 1.11.0 to 1.11.1
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.11.0 to 1.11.1
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.11.0 to 1.11.2
  project/build.properties
Labels: dependencies

ScalaSteward: Update spark-fast-tests from 1.3.0 to 3.0.1
  build.sbt
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.9.6 to 3.9.8
  .scalafmt.conf
Labels: dependencies

Add 'Reformat with scalafmt 3.9.8' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Reformat with scalafmt 3.9.8
  build.sbt
  core/src/main/scala/doric/sem/Errors.scala
  core/src/main/spark_3.2_3.3_3.4_3.5/scala/doric/sqlExpressions/CustomAgg.scala
  core/src/test/scala/doric/Equalities.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/matchers/CustomMatchers.scala
  core/src/test/scala/doric/sem/AggregationOpsSpec.scala
  core/src/test/scala/doric/sem/JoinOpsSpec.scala
  core/src/test/scala/doric/sem/TransformOpsSpec.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
  core/src/test/scala/doric/syntax/InterpolatorsSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3_3.4_3.5/scala/doric/syntax/StringColumns3xSpec.scala
Labels: dependencies, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

ScalaSteward: Update sbt-scalafmt from 2.5.4 to 2.5.5
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.11.0 to 1.11.3
  project/build.properties
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.6.5 to 2.7.2
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@e0cf1c899c7a98dc574c5803c09b432f38f4e848 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

fix: [~] dependency submission
  .github/workflows/dependency-graph.yml
Labels: CI/CD

fix: [~] dependency submission (#542)
  .github/workflows/dependency-graph.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@4ea4e40a60720f56f56fb5efd416f5bc023017af 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sbt, scripted-plugin from 1.11.0 to 1.11.3 (#540)
  project/build.properties
Labels: dependencies

fix: [~] dependency submission version
  .github/workflows/dependency-graph.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@a8a4671148617c9e745250ce16ed88efbe7b29a3 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

fix: [~] dependency submission version (#543)
  .github/workflows/dependency-graph.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@dd960ddca35f7dd7beca1ed1b63a7d2361265da1 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update scalafmt-core from 3.9.6 to 3.9.9
  .scalafmt.conf
Labels: dependencies

Add 'Reformat with scalafmt 3.9.9' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Reformat with scalafmt 3.9.9
  build.sbt
  core/src/main/scala/doric/sem/Errors.scala
  core/src/main/spark_3.2_3.3_3.4_3.5/scala/doric/sqlExpressions/CustomAgg.scala
  core/src/test/scala/doric/Equalities.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/matchers/CustomMatchers.scala
  core/src/test/scala/doric/sem/AggregationOpsSpec.scala
  core/src/test/scala/doric/sem/JoinOpsSpec.scala
  core/src/test/scala/doric/sem/TransformOpsSpec.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
  core/src/test/scala/doric/syntax/InterpolatorsSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3_3.4_3.5/scala/doric/syntax/StringColumns3xSpec.scala
Labels: dependencies, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

ScalaSteward: Update sbt, scripted-plugin from 1.11.3 to 1.11.4
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.11.0 to 1.11.2
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.11.3 to 1.11.5
  project/build.properties
Labels: dependencies
