Repository hablapps/doric, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, dependencies, documentation, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

ScalaSteward: Update scala-library from 2.12.18 to 2.12.19
  build.sbt
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.8.0 to 3.8.1
  .scalafmt.conf
Labels: dependencies

ScalaSteward: Update sourcecode from 0.3.1 to 0.4.0
  build.sbt
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.8.0 to 3.8.1 (#438)
  .scalafmt.conf
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@6bc9971de70dd7ca6dbd1f4c174a701bf437a52e 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sourcecode from 0.3.1 to 0.4.1
  build.sbt
Labels: dependencies

Update codecov-action to version 4
  .github/actions/build_and_coverage/action.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@1e49e3c9e42b033daf7dede79be9f3c145c9326e 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Added token
  .github/actions/build_and_coverage/action.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@9330682ab727aff008eabf640b302500932a6bb2 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Add codecov_token as input element of the workflow.
  .github/actions/build_and_coverage/action.yml
  .github/workflows/wc_build.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@3e42131da052a62e535dd3b5551fb508929f2bfb 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Skip codecov until we make it work again
  .github/actions/build_and_coverage/action.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@804017d3afae82f4263b103b264b8bcc79eb6e1d 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Check if now works to upload codecov
  .github/actions/build_and_coverage/action.yml
  .github/workflows/wc_build.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@d3f01afb75a7a7e4fe1e702feceb4a244aa2c0cd 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Fixes
  .github/workflows/wc_build.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@1ec2f7221b3fcaf7a0b4a27242d25237bcaf0651 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Fixes
  .github/workflows/wc_build.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@6b7b927dc91d5a8afb51d09aad2410f311c206e3 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Fixes
  .github/workflows/wc_build.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@782b6f520879ccf780fc531fb584f5dc7c3631da 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Fixes
  .github/workflows/wc_build.yml
Labels: CI/CD

Fixes
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: CI/CD

Fixes
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/wc_build.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@5ed2d97e3b8c432c35dfd361bedc25feb2e3eedf 🚀
  docs/exclusive.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Codecov failing due to lack of token (#443)
  .github/actions/build_and_coverage/action.yml
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/wc_build.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@73aa00d73286c8204744632a25aeec4815865f5b 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update scala-library from 2.12.18 to 2.12.19 (#433)
  build.sbt
Labels: dependencies

ScalaSteward: Update scala-collection-compat from 2.11.0 to 2.12.0
  build.sbt
Labels: dependencies

ScalaSteward: Update sbt-scoverage from 2.0.11 to 2.0.12
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt from 1.9.9 to 1.10.0
  project/build.properties
Labels: dependencies

Fix codecov token
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: CI/CD

Fix codecov token (#449)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@f0d501c7d938277f6e2f4e84c5119b467abc6020 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Fix codecov token
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/wc_build.yml
Labels: CI/CD

Fix/codecov token (#450)
  .github/workflows/wc_build.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@d1d385689e2c7fd5487f119a349f7eb41985aad1 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update scala-collection-compat from 2.11.0 to 2.12.0 (#441)
  build.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@053544f7a89a56af052862ad63a430bbf63c656f 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

.github/labeler.yml:

CI/CD:
  - changed-files:
    - any-glob-to-any-file: [ '.github/**/*.yml' ]

dependencies:
  - changed-files:
    - any-glob-to-any-file: [ '.github/dependabot.yml', 'build.sbt', 'project/**/*', '.scala-steward.conf', '.scalafix.conf', '.scalafmt.conf', 'project/build.properties' ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [ 'docs/**/*', 'notebooks/**/*', '*.md' ]

spark_3.0:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.0*/**/*', 'core/src/main/scala/**/*' ]

spark_3.1:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.1*/**/*', 'core/src/main/scala/**/*']

spark_3.2:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.2*/**/*', 'core/src/main/scala/**/*']

spark_3.3:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.3*/**/*', 'core/src/main/scala/**/*' ]

spark_3.4:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.4*/**/*', 'core/src/main/scala/**/*' ]

spark_3.5:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.5*/**/*', 'core/src/main/scala/**/*' ]
