Repository hablapps/doric, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, dependencies, documentation, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4, spark_3.5

.github/labeler.yml:

CI/CD:
  - changed-files:
    - any-glob-to-any-file: [ '.github/**/*.yml' ]

dependencies:
  - changed-files:
    - any-glob-to-any-file: [ '.github/dependabot.yml', 'build.sbt', 'project/**/*', '.scala-steward.conf', '.scalafix.conf', '.scalafmt.conf', 'project/build.properties' ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [ 'docs/**/*', 'notebooks/**/*', '*.md' ]

spark_3.0:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.0*/**/*', 'core/src/main/scala/**/*' ]

spark_3.1:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.1*/**/*', 'core/src/main/scala/**/*']

spark_3.2:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.2*/**/*', 'core/src/main/scala/**/*']

spark_3.3:
  - changed-files:
    - any-glob-to-any-file: [ 'core/src/main/spark*3.3*/**/*', 'core/src/main/scala/**/*' ]

spark_3.4:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.4*/**/*', 'core/src/main/scala/**/*' ]

spark_3.5:
  - changed-files:
      - any-glob-to-any-file: [ 'core/src/main/spark*3.5*/**/*', 'core/src/main/scala/**/*' ]

ScalaSteward: Update scalafmt-core from 3.8.2 to 3.8.3
  .scalafmt.conf
Labels: dependencies

Add 'Reformat with scalafmt 3.8.3' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Reformat with scalafmt 3.8.3
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.6.0
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update spark-sql from 3.5.1 to 3.5.2
  build.sbt
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.6.1
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt-scoverage from 2.1.0 to 2.1.1
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update scala-library from 2.12.19 to 2.12.20
  build.sbt
Labels: dependencies

ScalaSteward: Update sbt from 1.10.1 to 1.10.2
  project/build.properties
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.5.4 to 2.6.0
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update spark-sql from 3.5.1 to 3.5.3
  build.sbt
Labels: dependencies

ScalaSteward: Update mdoc, sbt-mdoc from 2.5.4 to 2.6.1
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.7.0
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.8.0
  project/plugins.sbt
Labels: dependencies

ScalaSteward: Update sbt from 1.10.1 to 1.10.3
  project/build.properties
Labels: dependencies

feat: [~] #394 add spark 3.5.2 & 3.5.3
  .github/workflows/matrix_includes.json
  README.md
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: dependencies, documentation

feat: [~] #394 add spark 3.5.2 & 3.5.3 (#484)
  .github/workflows/matrix_includes.json
  README.md
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: dependencies, documentation

ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.9.0
  project/plugins.sbt
Labels: dependencies

feat: [~] #394 add spark 3.4.3 & 3.4.4
  .github/workflows/matrix_includes.json
  README.md
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: dependencies, documentation

feat: [~] #394 add spark 3.4.3 & 3.4.4 (#486)
  .github/workflows/matrix_includes.json
  README.md
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: dependencies, documentation

Deploying to gh-pages from @ hablapps/doric@7370265b928831f45a8735eaad54fc33a3b28256 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sbt, scripted-plugin from 1.10.1 to 1.10.4
  project/build.properties
Labels: dependencies

ScalaSteward: Update sbt, scripted-plugin from 1.10.1 to 1.10.4 (#489)
  project/build.properties
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@229791ac543561c1b8b456f3a00ee707eafec9b4 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update sbt, scripted-plugin from 1.10.4 to 1.10.5
  project/build.properties
Labels: dependencies

Deleted CI plugin
  .github/workflows/release.yml
Labels: CI/CD

Deleted CI plugin (#488)
  .github/workflows/release.yml
Labels: CI/CD

Deploying to gh-pages from @ hablapps/doric@03a4ea0e50fe659202649671b8550f6382cf96ce 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

feat: [+] #376 spark v 3.2.4 & update latest release
  .github/workflows/matrix_includes.json
  README.md
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: dependencies, documentation

fix codecov after n builds
  .github/codecov.yml
Labels: CI/CD

feat: [+] #376 spark v 3.2.4 & update latest release (#491)
  .github/codecov.yml
  .github/workflows/matrix_includes.json
  README.md
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: CI/CD, dependencies, documentation

ScalaSteward: Update sbt, scripted-plugin from 1.10.4 to 1.10.6
  project/build.properties
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@d7d40372371084797e6603be3e4c69b7626e1e35 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

Deploying to gh-pages from @ hablapps/doric@7061b1cab22b5ce81c596169f0efaf8b5ea1609f 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update mdoc, sbt-mdoc from 2.5.4 to 2.6.2
  project/plugins.sbt
Labels: dependencies

Deploying to gh-pages from @ hablapps/doric@ba7d15a72bfce6482f4c97526c2ad8c2a1bff938 🚀
  docs/exclusive.md
  docs/implicits.md
  docs/quickstart.md
  docs/validations.md
Labels: documentation

ScalaSteward: Update mdoc, sbt-mdoc from 2.5.4 to 2.6.2 (#493)
  project/plugins.sbt
Labels: dependencies

Add 'Reformat with scalafmt 3.8.3' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

ScalaSteward: Update scalafmt-core from 3.8.2 to 3.8.3
  .scalafmt.conf
Labels: dependencies

ScalaSteward: Update scalafmt-core from 3.8.2 to 3.8.3 (#467)
  .git-blame-ignore-revs
  .scalafmt.conf
Labels: dependencies
