Repository hablapps/doric, pull requests merged in 2022-03, with the labels that each got.

#175 ci: [+] PR labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI/CD

#183 Update spark-fast-tests to 1.2.0
  build.sbt
Labels: dependencies

#182 Update spark-daria to 1.2.3
  build.sbt
Labels: dependencies

#185 Single parameter sparkVersion allows 3.x and 3.x.x versions
  build.sbt
Labels: enhancement

#186 ci: [+] add spark labels to labeler
  .github/labeler.yml
Labels: CI/CD

#171 ci: [+] compose actions (issue #152)
  .github/actions/check_build_and_doc/action.yml
  .github/actions/clean_cache/action.yml
  .github/actions/publish_doc/action.yml
  .github/workflows/ci.yml
  .github/workflows/publishTempSite.yml
  .github/workflows/release.yml
Labels: CI/CD

#187 ci/#159 spark version matrix
  .github/actions/check_build_and_doc/action.yml
  .github/actions/publish_doc/action.yml
  .github/workflows/ci.yml
  .github/workflows/publishTempSite.yml
  .github/workflows/release.yml
  .github/workflows/wc_publishSite.yml
  README.md
  core/src/main/scala/doric/syntax/DateColumns.scala
  core/src/main/spark_3.0_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.2/scala/doric/syntax/BinaryColumns32.scala
  core/src/main/spark_3.2_mount/scala/doric/syntax/All.scala
  docs/docs/_config.yml
  docs/docs/_data/navigation.yml
  docs/docs/docs/adt-of-columns.md
  docs/docs/docs/advanced-operations.md
  docs/docs/docs/api.md
  docs/docs/docs/custom.md
  docs/docs/docs/error-location.md
  docs/docs/docs/installation.md
  docs/docs/docs/intro.md
  docs/docs/docs/joins.md
  docs/docs/docs/quickstart.md
  docs/docs/docs/typed-column.md
Labels: CI/CD, spark_3.0, spark_3.2

#192 FIX ci mvn central release
  .github/workflows/release.yml
Labels: fix, CI/CD

#193 ci_fix: fix job mvn_release & improve cache
  .github/actions/check_build_and_doc/action.yml
  .github/workflows/release.yml
Labels: fix, CI/CD

#194 Update sbt-api-mappings to 3.0.2
  project/plugins.sbt
Labels: dependencies

#196 fix: [~] codecov reports with flags
  .github/actions/check_build_and_doc/action.yml
  .github/codecov.yml
  README.md
Labels: fix, CI/CD

#195 feat_fix: [~] Prepare release 0.0.3 & other fixes
  .github/dependabot.yml
  .github/workflows/publishTempSite.yml
  .github/workflows/release.yml
  .scala-steward.conf
  README.md
  build.sbt
  docs/docs/docs/quickstart.md
Labels: CI/CD

#199 fix: [~] str interpolator now prints empty if null column (issue #191)
  core/src/main/scala/doric/syntax/Interpolators.scala
  core/src/test/scala/doric/syntax/InterpolatorsSpec.scala
Labels: fix, spark_3.0, spark_3.1, spark_3.2
