Repository hablapps/doric, pull requests merged in 2022-04, with the labels that each got.

#204 Delete unused dependencies to be able to port doric to scala 2.11
  build.sbt
  core/src/main/scala/doric/CName.scala
  core/src/main/scala/doric/doric.scala
Labels: dependencies, breaking

#206 Cats imports fixed
  build.sbt
  core/src/main/scala/doric/DoricColumn.scala
  core/src/main/scala/doric/DoricJoinColumn.scala
  core/src/main/scala/doric/JoinSideDoricColumn.scala
  core/src/main/scala/doric/sem/TransformOps.scala
  core/src/main/scala/doric/syntax/AggregationColumns.scala
  core/src/main/scala/doric/syntax/BinaryColumns.scala
  core/src/main/scala/doric/syntax/StringColumns.scala
  core/src/main/scala/doric/syntax/TimestampColumns.scala
  core/src/main/scala/doric/syntax/TypeMatcher.scala
  core/src/main/scala/doric/syntax/WhenBuilder.scala
  core/src/main/scala/org/apache/spark/sql/doric/RelationalGroupedDatasetDoricInterface.scala
  core/src/main/spark_3.0_3.1/scala/doric/syntax/BinaryColumns30_31.scala
  core/src/main/spark_3.2/scala/doric/syntax/BinaryColumns32.scala
Labels: spark_3.0, spark_3.1, spark_3.2

#209 ScalaSteward: Update scalatest from 3.2.11 to 3.2.12
  build.sbt
Labels: dependencies
