Repository hablapps/doric, pull requests merged in 2022-08, with the labels that each got.

#260 ScalaSteward: Update mdoc, sbt-mdoc from 2.3.2 to 2.3.3
  project/plugins.sbt
Labels: dependencies, CI/CD

#262 feat: [+] remaining non aggregate functions (resolves #68)
  .github/labeler.yml
  core/src/main/scala/doric/syntax/NumericColumns.scala
  core/src/main/spark_2.4_3.0_3.1/scala/doric/syntax/NumericColumns2_31.scala
  core/src/main/spark_3.2_3.3/scala/doric/syntax/NumericColumns32.scala
  core/src/test/scala/doric/Equalities.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/syntax/AggregationColumnsSpec.scala
  core/src/test/scala/doric/syntax/NumericOperationsSpec.scala
  core/src/test/scala/doric/syntax/NumericUtilsSpec.scala
  core/src/test/spark_3.1_3.2_3.3/scala/doric/syntax/Numeric31Spec.scala
Labels: CI/CD, spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3

#274 Empty arrays returns the expected datatype
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
Labels: spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3
