Repository hablapps/doric, pull requests merged in 2022-01, with the labels that each got.

#140 ci: reactivate cache
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: enhancement

#144 ci: add worflow_dispatch
  .github/workflows/ci.yml
  .github/workflows/publishTempSite.yml
Labels: enhancement, CI/CD

#109 Feat/64 collection functions
  .github/workflows/release.yml
  core/src/main/scala/doric/sem/AggregationOps.scala
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/main/scala/doric/syntax/BinaryColumns.scala
  core/src/main/scala/doric/syntax/ColGetters.scala
  core/src/main/scala/doric/syntax/CommonColumns.scala
  core/src/main/scala/doric/syntax/MapColumns.scala
  core/src/main/scala/doric/syntax/NumericColumns.scala
  core/src/main/scala/doric/syntax/StringColumns.scala
  core/src/main/scala/doric/syntax/package.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
  core/src/test/scala/doric/syntax/BinaryColumnsSpec.scala
  core/src/test/scala/doric/syntax/CommonColumnsSpec.scala
  core/src/test/scala/doric/syntax/MapColumnsSpec.scala
  core/src/test/scala/doric/syntax/NumericOperationsSpec.scala
  core/src/test/scala/doric/syntax/StringColumnsSpec.scala
Labels: documentation, enhancement

#138 Doc/link to spark functions
  core/src/main/scala/doric/syntax/BinaryColumns.scala
  core/src/main/scala/doric/syntax/BooleanColumns.scala
  core/src/main/scala/doric/syntax/CommonColumns.scala
  core/src/main/scala/doric/syntax/DateColumns.scala
  core/src/main/scala/doric/syntax/StringColumns.scala
  core/src/main/scala/doric/syntax/TimestampColumns.scala
  core/src/test/scala/doric/syntax/StringColumnsSpec.scala
Labels: documentation

#153 Update scalatest to 3.2.11
  build.sbt
Labels: dependencies

#148 Update scalafmt-core to 3.3.3
  .scalafmt.conf
Labels: dependencies

#143 Update newtypes-core to 0.2.1
  build.sbt
Labels: dependencies

#145 ci: release executed only if habla repository
  .github/workflows/release.yml
Labels: enhancement, CI/CD
