Repository hablapps/doric, pull requests merged in 2022-07, with the labels that each got.

#233 Added Sorting Functions
  core/src/main/scala/doric/sem/All.scala
  core/src/main/scala/doric/sem/SortingOps.scala
  core/src/main/scala/doric/syntax/CommonColumns.scala
  core/src/test/scala/doric/sem/SortingOpsSpec.scala
  core/src/test/scala/doric/syntax/CommonColumnsSpec.scala
  core/src/test/scala/doric/syntax/DateColumnsSpec.scala
Labels: spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3

#223 feat: [+] #66 math functions
  core/src/main/scala/doric/syntax/IntegralType.scala
  core/src/main/scala/doric/syntax/NumWithDecimalsType.scala
  core/src/main/scala/doric/syntax/NumericColumns.scala
  core/src/main/scala/doric/syntax/StringColumns.scala
  core/src/main/spark_2.4_3.0_3.1/scala/doric/syntax/NumericColumns2_31.scala
  core/src/main/spark_2.4_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.0_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.1_3.2_3.3/scala/doric/syntax/NumericColumns31.scala
  core/src/main/spark_3.1_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.2_3.3/scala/doric/syntax/NumericColumns32.scala
  core/src/main/spark_3.2_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.3_mount/scala/doric/syntax/All.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/syntax/NumericOperationsSpec.scala
  core/src/test/scala/doric/syntax/NumericUtilsSpec.scala
  core/src/test/scala/doric/syntax/StringColumnsSpec.scala
  core/src/test/spark_3.1_3.2_3.3/scala/doric/syntax/Numeric31Spec.scala
Labels: spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3

#244 Action to add the packages to the release page in gh
  .github/workflows/release.yml
Labels: CI/CD

#248 ScalaSteward: Update sbt from 1.6.2 to 1.7.1
  project/build.properties
Labels: dependencies

#254 Added sbt-dependency-submission to update github dependency graph
  .github/workflows/dependency-graph.yml
Labels: CI/CD

#251 Support for product types
  build.sbt
  core/src/main/scala/doric/DoricColumn.scala
  core/src/main/scala/doric/sem/Errors.scala
  core/src/main/scala/doric/syntax/DStructs.scala
  core/src/main/scala/doric/syntax/LiteralConversions.scala
  core/src/main/scala/doric/types/LiteralSparkType.scala
  core/src/main/scala/doric/types/NumericType.scala
  core/src/main/scala/doric/types/SparkType.scala
  core/src/main/scala_2.11_2.12/scala/doric/types/SparkTypeLPI_II_Seq_Set_Specific.scala
  core/src/main/scala_2.13/scala/doric/types/SparkTypeLPI_II_Seq_Set_Specific.scala
  core/src/main/spark_2.4_3.0_3.1/scala/doric/types/SparkTypeLPI_I_Specific.scala
  core/src/main/spark_3.2_3.3/scala/doric/types/SparkTypeLPI_I_Specific.scala
  core/src/test/scala/doric/DoricTestElements.scala
  core/src/test/scala/doric/Equalities.scala
  core/src/test/scala/doric/SparkSessionTestWrapper.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/sem/CollectOpsSpec.scala
  core/src/test/scala/doric/syntax/DStructOpsSpec.scala
  core/src/test/scala/doric/syntax/NumericOperationsSpec.scala
  core/src/test/scala/doric/syntax/NumericUtilsSpec.scala
  core/src/test/scala/doric/types/CustomTypesSpec.scala
  core/src/test/scala/doric/types/DeserializeSparkTypeSpec.scala
  core/src/test/scala/doric/types/PrimitiveTypesSpec.scala
  core/src/test/scala/doric/types/SerializeSparkTypesSpec.scala
  core/src/test/scala/doric/types/SparkTypeSpec.scala
  core/src/test/scala/doric/types/customTypes/User.scala
  core/src/test/spark_2.4/scala/doric/DoricTestElementsCompanion_Specific.scala
  core/src/test/spark_2.4/scala/doric/types/DeserializeSparkTypesSpec_Specific.scala
  core/src/test/spark_2.4/scala/doric/types/PrimitiveTypesSpec_Specific.scala
  core/src/test/spark_2.4/scala/doric/types/SerializeSparkTypeSpec_Specific.scala
  core/src/test/spark_3.0_3.1/scala/doric/types/DeserializeSparkTypeSpec_Specific.scala
  core/src/test/spark_3.0_3.1/scala/doric/types/PrimitiveTypesSpec_Specific.scala
  core/src/test/spark_3.0_3.1/scala/doric/types/SerializeSparkTypeSpec_Specific.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/DoricTestElementsCompanion_Specific.scala
  core/src/test/spark_3.2_3.3/scala/doric/types/DeserializeSparkTypeSpec_Specific.scala
  core/src/test/spark_3.2_3.3/scala/doric/types/PrimitiveTypesSpec_Specific.scala
  core/src/test/spark_3.2_3.3/scala/doric/types/SerializeSparkTypesSpec_Specific.scala
  docs/docs/docs/errors.md
  docs/docs/docs/implicits.md
  docs/docs/docs/modularity.md
  docs/docs/docs/quickstart.md
  docs/docs/docs/validations.md
Labels: spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3

#245 ci: [+] PR Dependency Check
  .github/pull_request_template.md
  .github/workflows/ci.yml
Labels: CI/CD

#256 Added apache spark 3.2.2 as main version for 3.2
  .github/workflows/ci.yml
  README.md
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: CI/CD
