Repository hablapps/doric, pull requests merged in 2022-02, with the labels that each got.

#179 feat: [+] add issue & PR templates & CONTRIBUTING
  .github/ISSUE_TEMPLATE/bug_report_form.yml
  .github/ISSUE_TEMPLATE/bug_report_template.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request_form.yml
  .github/ISSUE_TEMPLATE/feature_request_template.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Labels: enhancement

#178 Update mdoc, sbt-mdoc to 2.3.1
  project/plugins.sbt
Labels: dependencies

#174 Update spark-sql to 3.1.3
  build.sbt
Labels: dependencies

#180 Update navigation.yml
  docs/docs/_data/navigation.yml
Labels: documentation

#181 ci: [+] github actions concurrency
  .github/workflows/ci.yml
  .github/workflows/publishTempSite.yml
  .github/workflows/release.yml
Labels: CI/CD

#166 feat: [+] StringColumn concat interpolator (#165)
  core/src/main/scala/doric/syntax/All.scala
  core/src/main/scala/doric/syntax/Interpolators.scala
  core/src/test/scala/doric/syntax/InterpolatorsSpec.scala
Labels: enhancement

#158 ci: release executed only if habla repository
  .github/workflows/release.yml
Labels: CI/CD
