Repository hablapps/doric, pull requests merged in 2022-06, with the labels that each got.

#219 Feat/212 custom matchers for testing
  .gitignore
  core/src/main/scala/doric/sem/Errors.scala
  core/src/main/scala/doric/syntax/TypeMatcher.scala
  core/src/test/scala/doric/DoricColumnSpec.scala
  core/src/test/scala/doric/DoricTestElements.scala
  core/src/test/scala/doric/matchers/CustomMatchers.scala
  core/src/test/scala/doric/matchers/CustomMatchersSpec.scala
  core/src/test/scala/doric/sem/ErrorsSpec.scala
  core/src/test/scala/doric/sem/JoinOpsSpec.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
  core/src/test/scala/doric/syntax/AsSpec.scala
  core/src/test/scala/doric/syntax/DStructOpsSpec.scala
  core/src/test/scala/doric/syntax/TypeMatcherSpec.scala
Labels: enhancement, spark_3.0, spark_3.1, spark_3.2, spark_2.4

#226 Doric error message now doesn't show the same error multiple times.
  core/src/main/scala/doric/sem/Errors.scala
  core/src/test/scala/doric/matchers/CustomMatchers.scala
  core/src/test/scala/doric/matchers/CustomMatchersSpec.scala
  core/src/test/scala/doric/sem/ErrorsSpec.scala
Labels: spark_3.0, spark_3.1, spark_3.2, spark_2.4

#227 Fix/hof structs combined error and improve resolution of unresolved columns
  .scalafmt.conf
  core/src/main/scala/doric/DoricColumn.scala
  core/src/main/scala/doric/doric.scala
  core/src/main/scala/doric/sem/Errors.scala
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/main/scala/doric/syntax/DStructs.scala
  core/src/main/scala/doric/syntax/DateColumns.scala
  core/src/main/scala/doric/syntax/TimestampColumns.scala
  core/src/main/scala/doric/syntax/package.scala
  core/src/main/spark_3.0_3.1_3.2/scala/doric/syntax/ArrayColumns3x.scala
  core/src/main/spark_3.0_3.1_3.2/scala/doric/syntax/MapColumns3x.scala
  core/src/test/scala/doric/DoricColumnSpec.scala
  core/src/test/scala/doric/sem/ChildColumnNotFound.scala
  core/src/test/scala/doric/syntax/AggregationColumnsSpec.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
  core/src/test/scala/doric/syntax/AsSpec.scala
  core/src/test/scala/doric/syntax/DStructOpsSpec.scala
  core/src/test/scala/doric/syntax/DateColumnsSpec.scala
  core/src/test/scala/doric/syntax/DynamicSpec.scala
  core/src/test/spark_3.0_3.1_3.2/scala/doric/syntax/ArrayColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2/scala/doric/syntax/MapColumns3xSpec.scala
Labels: bug, spark_3.0, spark_3.1, spark_3.2, spark_2.4

#231 Prepare doric for spark 3.3.0
  .github/actions/publish_doc/action.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/wc_publishSite.yml
  README.md
  build.sbt
  core/src/main/scala/doric/DoricColumn.scala
  core/src/main/scala/doric/doric.scala
  core/src/main/scala/doric/syntax/AggregationColumns.scala
  core/src/main/scala/doric/syntax/StringColumns.scala
  core/src/main/spark_2.4_3.0_3.1/scala/doric/syntax/BinaryColumns30_31.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/ArrayColumns3x.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/CommonColumns3x.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/MapColumns3x.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/StringColumn3x.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/org/apache/spark/sql/doric/RelationalGroupedDatasetDoricInterface.scala
  core/src/main/spark_3.1_3.2_3.3/scala/doric/syntax/AggregationColumns31.scala
  core/src/main/spark_3.1_3.2_3.3/scala/doric/syntax/BooleanColumns31.scala
  core/src/main/spark_3.1_3.2_3.3/scala/doric/syntax/NumericColumns31.scala
  core/src/main/spark_3.1_3.2_3.3/scala/doric/syntax/StringColumns31.scala
  core/src/main/spark_3.2_3.3/scala/doric/syntax/BinaryColumns32.scala
  core/src/main/spark_3.3_mount/scala/doric/syntax/All.scala
  core/src/test/scala/doric/DoricColumnSpec.scala
  core/src/test/scala/doric/SparkSessionTestWrapper.scala
  core/src/test/scala/doric/matchers/CustomMatchers.scala
  core/src/test/scala/doric/sem/ColumnNotFound.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/ArrayColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/CommonColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/DateColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/MapColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/StringColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/TimestampColumns3xSpec.scala
  core/src/test/spark_3.1_3.2_3.3/scala/doric/syntax/AggregationColumns31Spec.scala
  core/src/test/spark_3.1_3.2_3.3/scala/doric/syntax/BooleanColumns31Spec.scala
  core/src/test/spark_3.1_3.2_3.3/scala/doric/syntax/Numeric31Spec.scala
  core/src/test/spark_3.1_3.2_3.3/scala/doric/syntax/StringColumns31Spec.scala
  docs/docs/docs/api.md
Labels: CI/CD, spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3
