Repository hablapps/doric, pull requests merged in 2022-05, with the labels that each got.

#207 Doric for spark 2.4!!!!!
  .github/actions/check_build_and_doc/action.yml
  .github/actions/publish_doc/action.yml
  .github/codecov.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/wc_publishSite.yml
  build.sbt
  core/src/main/docs/scala/doric/doc/DDataframe.scala
  core/src/main/docs/scala/doric/doc/DRelationalGroupedDataset.scala
  core/src/main/docs/scala/org/apache/spark/sql/DoricDataframe.scala
  core/src/main/docs/scala/org/apache/spark/sql/DoricRelationalGroupedDataset.scala
  core/src/main/scala/doric/sem/CollectOps.scala
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/main/scala/doric/syntax/CommonColumns.scala
  core/src/main/scala/doric/syntax/DateColumns.scala
  core/src/main/scala/doric/syntax/MapColumns.scala
  core/src/main/scala/doric/syntax/StringColumns.scala
  core/src/main/scala/doric/types/LiteralSparkType.scala
  core/src/main/scala/doric/types/SparkType.scala
  core/src/main/spark_2.4_mount/scala/doric/syntax/All.scala
  core/src/main/spark_2.4_mount/scala/doric/syntax/StringColumn24.scala
  core/src/main/spark_2.4_mount/scala/org/apache/spark/sql/doric/RelationalGroupedDatasetDoricInterface.scala
  core/src/main/spark_3.0_3.1_3.2/scala/doric/syntax/ArrayColumns3x.scala
  core/src/main/spark_3.0_3.1_3.2/scala/doric/syntax/CommonColumns3x.scala
  core/src/main/spark_3.0_3.1_3.2/scala/doric/syntax/MapColumns3x.scala
  core/src/main/spark_3.0_3.1_3.2/scala/doric/syntax/StringColumn3x.scala
  core/src/main/spark_3.0_3.1_3.2/scala/org/apache/spark/sql/doric/RelationalGroupedDatasetDoricInterface.scala
  core/src/main/spark_3.0_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.1_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.2_mount/scala/doric/syntax/All.scala
  core/src/test/scala/doric/Equalities.scala
  core/src/test/scala/doric/SparkSessionTestWrapper.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/sem/TransformOpsSpec.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
  core/src/test/scala/doric/syntax/CommonColumnsSpec.scala
  core/src/test/scala/doric/syntax/DateColumnsSpec.scala
  core/src/test/scala/doric/syntax/MapColumnsSpec.scala
  core/src/test/scala/doric/syntax/StringColumnsSpec.scala
  core/src/test/scala/doric/syntax/TimestampColumnsSpec.scala
  core/src/test/spark_3.0_3.1_3.2/scala/doric/syntax/ArrayColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2/scala/doric/syntax/CommonColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2/scala/doric/syntax/DateColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2/scala/doric/syntax/MapColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2/scala/doric/syntax/StringColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2/scala/doric/syntax/TimestampColumns3xSpec.scala
Labels: CI/CD, spark_3.0, spark_3.1, spark_3.2, spark_2.4

#215 Fix artifact upload
  .github/actions/check_build_and_doc/action.yml
Labels: CI/CD

#217 Fixed publishLocal errors in test
  core/src/test/scala/doric/control/WhenBuilderSpec.scala
  core/src/test/scala/doric/sem/JoinOpsSpec.scala
Labels: bug, spark_2.4

#211 Dynamic invocations for `Row` columns and top row
  core/src/main/scala/doric/DoricColumn.scala
  core/src/main/scala/doric/doric.scala
  core/src/main/scala/doric/syntax/ColGetters.scala
  core/src/main/scala/doric/syntax/DStructs.scala
  core/src/test/scala/doric/syntax/DStructOpsSpec.scala
  core/src/test/scala/doric/syntax/DynamicSpec.scala
  docs/docs/docs/api.md
  docs/docs/docs/implicits.md
  docs/docs/docs/quickstart.md
Labels: enhancement, spark_3.0, spark_3.1, spark_3.2, spark_2.4

#222 feat: [~] label all sparks if doric core modified
  .github/labeler.yml
Labels: CI/CD
