Repository hablapps/doric, pull requests merged in 2023-01, with the labels that each got.

#318 fix: [~] release ci
  .github/workflows/release.yml
Labels: CI/CD

#319 fix: [+] ci release matrix
  .github/workflows/release.yml
Labels: CI/CD

#313 feat: [+] #307 Add spark 3.3.1
  .github/workflows/matrix_includes.json
  build.sbt
  core/src/test/scala/doric/sem/SortingOpsSpec.scala
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: enhancement

#320 Feat/296 replace olafurpg setup scala
  .github/actions/build_and_coverage/action.yml
  .github/workflows/release.yml
  .github/workflows/wc_publishSite.yml
Labels: CI/CD

#312 Custom aggregation with doric syntax
  core/src/main/scala/doric/doric.scala
  core/src/main/scala/doric/syntax/AggregationColumns.scala
  core/src/main/spark_3.2_3.3/scala/doric/sqlExpressions/CustomAgg.scala
  core/src/main/spark_3.2_3.3/scala/doric/syntax/AggregationColumns32.scala
  core/src/main/spark_3.2_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.3_mount/scala/doric/syntax/All.scala
  core/src/test/spark_3.2_3.3/scala/doric/syntax/AggregationColumns32Spec.scala
  docs/docs/_data/navigation.yml
  docs/docs/docs/exclusive.md
  docs/src/main/scala/doric/AggExample.scala
Labels: spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3
