Repository hablapps/doric, pull requests merged in 2023-02, with the labels that each got.

#269 fix: [~] child dynamic accessor only for struct columns (issue #265)
  core/src/main/scala/doric/DoricColumn.scala
  core/src/main/scala/doric/syntax/DStructs.scala
  core/src/test/scala/doric/syntax/DynamicSpec.scala
Labels: bug :bug:, spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3

#324 feat: [+] mvn release sequential
  .github/workflows/release.yml
Labels: CI/CD

#325 Update references to 0.0.6
  README.md
  build.sbt
  docs/docs/docs/quickstart.md
Labels: documentation

#326 Added spark 3.2.3 as base 3.2 version and 3.2.2 as test only
  .github/workflows/matrix_includes.json
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: documentation, enhancement, spark_3.2, API

#330 ci: [~] dependabot now will never execute publish doc
  .github/workflows/on_push_dev.yml
Labels: documentation, CI/CD

#331 feat: [+] #329 add spark 3.3.2
  .github/workflows/matrix_includes.json
  build.sbt
  docs/docs/docs/api.md
  docs/docs/docs/quickstart.md
Labels: enhancement, spark_3.3
