Repository hablapps/doric, pull requests merged in 2023-04, with the labels that each got.

#338 feat: [+] #337 array_sort of structs & equals null safe functions
  core/src/main/scala/doric/CNameOrd.scala
  core/src/main/scala/doric/syntax/CommonColumns.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/ArrayColumns3x.scala
  core/src/test/scala/doric/DoricColumnSpec.scala
  core/src/test/scala/doric/syntax/CommonColumnsSpec.scala
  core/src/test/scala/doric/syntax/DStructOpsSpec.scala
  core/src/test/scala/doric/syntax/DynamicSpec.scala
  core/src/test/scala/doric/testUtilities/data/User.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/ArrayColumns3xSpec.scala
  docs/docs/docs/exclusive.md
  docs/docs/docs/implicits.md
Labels: enhancement, spark_3.0, spark_3.1, spark_3.2, spark_2.4, API, spark_3.3

#336 feat: [+] MatchBuilder column fun & AND/OR aggregate functions
  core/src/main/scala/doric/syntax/AggregationColumns.scala
  core/src/main/scala/doric/syntax/ControlStructures.scala
  core/src/main/scala/doric/syntax/WhenBuilder.scala
  core/src/test/scala/doric/TypedColumnTest.scala
  core/src/test/scala/doric/control/WhenBuilderSpec.scala
  core/src/test/scala/doric/syntax/AggregationColumnsSpec.scala
  docs/docs/docs/exclusive.md
Labels: enhancement, spark_3.0, spark_3.1, spark_3.2, spark_2.4, API, spark_3.3

#287 feat: [+] collection functions (issue #64)
  build.sbt
  core/src/main/scala/doric/DoricColumn.scala
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/main/scala/doric/syntax/CommonColumns.scala
  core/src/main/scala/doric/syntax/DStructs.scala
  core/src/main/scala/doric/syntax/MapColumns.scala
  core/src/main/scala/doric/syntax/StringColumns.scala
  core/src/main/spark_2.4_mount/scala/doric/syntax/StringColumn24.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/DStructs3x.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/MapColumns3x.scala
  core/src/main/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/StringColumn3x.scala
  core/src/main/spark_3.0_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.1_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.2_mount/scala/doric/syntax/All.scala
  core/src/main/spark_3.3_mount/scala/doric/syntax/All.scala
  core/src/test/scala/doric/syntax/ArrayColumnsSpec.scala
  core/src/test/scala/doric/syntax/DStructOpsSpec.scala
  core/src/test/scala/doric/syntax/MapColumnsSpec.scala
  core/src/test/scala/doric/syntax/StringColumnsSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/ArrayColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/DStructs3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/MapColumns3xSpec.scala
  core/src/test/spark_3.0_3.1_3.2_3.3/scala/doric/syntax/StringColumns3xSpec.scala
  docs/docs/docs/exclusive.md
Labels: spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3

#350 ScalaSteward: Update scala-collection-compat from 2.9.0 to 2.10.0
  build.sbt
Labels: dependencies
