Repository hablapps/doric, pull requests merged in 2024-02, with the labels that each got.

#416 ScalaSteward: Update mdoc, sbt-mdoc from 2.5.1 to 2.5.2
  project/plugins.sbt
Labels: dependencies

#415 ScalaSteward: Update sbt from 1.9.7 to 1.9.8
  project/build.properties
Labels: dependencies

#423 ScalaSteward: Update scalafmt-core from 3.7.17 to 3.8.0
  .scalafmt.conf
Labels: dependencies

#426 ScalaSteward: Update sbt from 1.9.8 to 1.9.9
  project/build.properties
Labels: dependencies

#430 Fix link for doric exlusive features
  docs/docs/_data/navigation.yml
Labels: documentation

#429 Update scala 2.13 to allow update dependencies
  build.sbt
  core/src/main/scala/doric/syntax/DStructs.scala
Labels: dependencies, spark_3.0, spark_3.1, spark_3.2, spark_3.3, spark_3.4

#427 ScalaSteward: Update sbt-scoverage from 2.0.9 to 2.0.11
  project/plugins.sbt
Labels: dependencies
