Repository hablapps/doric, pull requests merged in 2025-03, with the labels that each got.

#516 Fix microsite error.
  .github/workflows/ci.yml
  .github/workflows/wc_publishSite.yml
  build.sbt
  project/plugins.sbt
Labels: dependencies, CI/CD

#508 ScalaSteward: Update mdoc, sbt-mdoc from 2.6.2 to 2.6.4
  project/plugins.sbt
Labels: dependencies

#512 ScalaSteward: Update shapeless from 2.3.12 to 2.3.13
  build.sbt
Labels: dependencies

#519 ScalaSteward: Update mdoc, sbt-mdoc from 2.6.4 to 2.6.5
  project/plugins.sbt
Labels: dependencies

#518 ScalaSteward: Update sbt, scripted-plugin from 1.10.6 to 1.10.11
  project/build.properties
Labels: dependencies

#515 ScalaSteward: Update sbt-ci-release from 1.5.12 to 1.9.3
  project/plugins.sbt
Labels: dependencies

#501 ScalaSteward: Update sbt-scalafmt from 2.5.2 to 2.5.4
  project/plugins.sbt
Labels: dependencies

#504 ScalaSteward: Update scalafmt-core from 3.8.3 to 3.8.6
  .git-blame-ignore-revs
  .scalafmt.conf
  core/src/main/scala/doric/syntax/ArrayColumns.scala
  core/src/main/scala/doric/types/LiteralSparkType.scala
Labels: dependencies, spark_3.0, spark_3.1, spark_3.2, spark_2.4, spark_3.3, spark_3.4, spark_3.5

#503 ScalaSteward: Update cats-core from 2.12.0 to 2.13.0
  build.sbt
Labels: dependencies

#522 ScalaSteward: Update scalafmt-core from 3.8.6 to 3.9.4
  .scalafmt.conf
Labels: dependencies
